.slabtexted .slabtext {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap
}

.slabtextinactive .slabtext {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: 0 !important;
    *word-spacing: 0 !important
}

.slabtextdone .slabtext {
    display: block;
    line-height: 0.9
}

aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
    margin-bottom: 5em
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: "PT Sans", sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.5em
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

p, pre {
    margin: 1.5em 0
}

blockquote {
    margin: 1.5em 48px
}

h1, .h1 {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 0.75em
}

h2, .h2 {
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 1em;
    margin-bottom: 1em
}

h3, .h3 {
    font-size: 1.17em;
    line-height: 1.2820513em;
    margin-top: 1.2820513em;
    margin-bottom: 1.2820513em;
}

h4, .h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em
}

h4 + *, .h4 + * {
    margin-top: 0
}

h5, .h5 {
    font-size: 0.83em;
    line-height: 1.8072289em;
    margin-top: 1.8072289em;
    margin-bottom: 0em
}

h5 + *, .h5 + * {
    margin-top: 0
}

h6, .h6 {
    font-size: 0.67em;
    line-height: 2.238806em;
    margin-top: 2.238806em;
    margin-bottom: 0em
}

h6 + *, .h6 + * {
    margin-top: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
    line-height: 1.5em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

dl, menu, ol, ul {
    margin: 1.5em 0;
    padding: 0 0 0 48px
}

dl {
    padding: 0
}

dd {
    margin: 0 0 0 48px
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    margin: 0 2px;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 0.4625em;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 0.9125em;
    border-left-style: solid;
    border-left-width: 0.0625em;
    padding-left: 0.875em;
    border-right-style: solid;
    border-right-width: 0.0625em;
    padding-right: 0.875em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button, input {
    line-height: normal
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), local("PTSans-Regular"), url(https://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff) format("woff")
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/ptsans/v4/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format("woff")
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local("PT Sans Italic"), local("PTSans-Italic"), url(https://themes.googleusercontent.com/static/fonts/ptsans/v4/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff")
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(https://themes.googleusercontent.com/static/fonts/ptsans/v4/lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff) format("woff")
}

@font-face {
    font-family: 'sans-serif';
    font-weight: normal;
    font-style: normal
}

a {
    -webkit-transition: all 0.3s ease-out;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
}

h2, .h2 {
    text-align: right;
    font-style: italic
}

::-moz-selection {
    text-shadow: none
}

::selection {
    text-shadow: none
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

li ul, li ol {
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em
}

abbr[title] {
    cursor: help
}

.wrap, .chromeframe {
    max-width: 488px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto
}

.wrap:after, .chromeframe:after {
    content: "";
    display: table;
    clear: both
}

@media (min-width: 40em) {
    .wrap, .chromeframe {
        max-width: 1000px
    }
}

.chromeframe {
    clear: both;
    margin: 0.2em 0;
    padding: 0.2em
}

.chromeframe a {
    text-shadow: none !important
}

.menu {
    background: none;
    position: fixed;
    height: 0;
    width: 100%;
    max-width: 488px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto
}

.menu:after {
    content: "";
    display: table;
    clear: both
}

@media (min-width: 40em) {
    .menu {
        max-width: 1000px;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto
    }

    .menu:after {
        content: "";
        display: table;
        clear: both
    }
}

.menu .fixed {
    position: absolute;
    width: 100%;
    float: left;
    z-index: 100;
}

@media (min-width: 40em) {
    .menu .fixed {
        width: 23.2%;
        float: left;
    }
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center
}

.navigation ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0
}


.navigation a {
    display: block;
    padding: 6px 0;
    margin: 0;
    font-weight: 700;
    text-decoration: none
}

.navigation .pdf a:after {
    content: '';
    display: inline-block;
    margin-left: 4px;
    height: 14px;
    width: 15px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 -640px;
    background-repeat: no-repeat
}

.social-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: center;
    line-height: 2.5em
}

.social-links ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap
}

.social-links a {
    display: block
}

.social-links .facebook {
    height: 32px;
    width: 32px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 -608px;
    background-repeat: no-repeat
}

.social-links .linkedin {
    height: 32px;
    width: 32px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 -450px;
    background-repeat: no-repeat
}

.social-links .stack-overflow {
    height: 32px;
    width: 32px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 -290px;
    background-repeat: no-repeat
}

.social-links .twitter {
    height: 32px;
    width: 32px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 -386px;
    background-repeat: no-repeat
}

.social-links .github {
    height: 32px;
    width: 32px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 -354px;
    background-repeat: no-repeat
}

.shownav {
    display: none
}

@media (min-width: 40em) {
    .shownav {
        display: block
    }
}

.shownav.show {
    display: block;
}

.fullHeight {
    height: 100%;
}

.shownavbutton {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: hand;
    cursor: pointer;
    font-weight: 700;
}

.shownavbutton:after {
    content: '';
    float: right;
    display: block;
    height: 32px;
    width: 32px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 -792px;
    background-repeat: no-repeat;
    margin-top: -3px
}

@media (min-width: 40em) {
    .shownavbutton {
        display: none
    }
}

.main {
    padding: 0 1.5em;
}

@media (min-width: 40em) {
    .main {
        margin-left: 25.6%;
        padding-right: 2.4%;
        width: 72%;
        float: right;
        margin-right: 0
    }
}

. .main {
    margin-left: 25.6%;
    padding-left: 0%;
    padding-right: 2.4%;
    width: 72%;
    float: right;
    margin-right: 0
}

.header .header-title {
    margin-top: 1.5em
}

@media (min-width: 40em) {
    .header .header-title {
        margin-top: 0
    }
}

.header .header-title, .header .header-copy {
    font-family: "Arial", "PT Sans", sans-serif;
    font-weight: 400;
}

@media (min-width: 40em) {
    .header-copy {
        width: 48.3870968%;
        float: left;
        margin-right: 3.2258065%
    }
}

.header-image {
    text-align: center
}

@media (min-width: 40em) {
    .header-image {
        width: 48.3870968%;
        float: right;
        margin-right: 0
    }
}

@media (min-width: 40em) {
    .about-copy {
        -webkit-columns: 2 1.5em;
        -moz-columns: 2 1.5em;
        -ms-columns: 2 1.5em;
        -o-columns: 2 1.5em;
        columns: 2 1.5em
    }
}

.about-copy p:first-child {
    margin-top: 0
}

.skills-list {
    list-style: none;
    clear: both;
    padding: 0
}

.skills-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    width: 100%;
    float: left;
    margin-right: 4.9180328%
}

.skills-list li:nth-child(1n) {
    float: right;
    margin-right: 0
}

.skills-list li:nth-child(1n+1) {
    clear: both
}

@media (min-width: 40em) {
    .skills-list li {
        width: 48.3870968%;
        float: left;
        margin-right: 3.2258065%
    }

    .skills-list li:nth-child(1n) {
        float: left;
        margin-right: 3.2258065%
    }

    .skills-list li:nth-child(1n+1) {
        clear: none
    }

    .skills-list li:nth-child(2n) {
        float: right;
        margin-right: 0
    }

    .skills-list li:nth-child(2n+1) {
        clear: both
    }
}

.skills-list h3 {
    margin-top: 0em
}

@media (min-width: 40em) {
    .skills-list p {
        position: relative;
        padding-left: 3.625em
    }
}

.lt-ie9 .skills-list p {
    position: relative;
    padding-left: 3.625em
}

.skills-list p:before {
    content: '';
    display: block;
    float: right;
    margin-left: 0.75em
}

@media (min-width: 40em) {
    .skills-list p:before {
        position: absolute;
        top: 0;
        left: 0;
        float: none;
        margin-left: 0
    }
}

/*START projects list css*/
.projects-list {
    list-style: none;
    clear: both;
    padding: 0
}

.projects-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    width: 100%;
    float: left;
    margin-right: 4.9180328%
}

.projects-list li:nth-child(1n) {
    float: right;
    margin-right: 0
}

.projects-list li:nth-child(1n+1) {
    clear: both
}

@media (min-width: 40em) {
    .projects-list li {
        width: 48.3870968%;
        float: left;
        margin-right: 3.2258065%
    }

    .projects-list li:nth-child(1n) {
        float: left;
        margin-right: 3.2258065%
    }

    .projects-list li:nth-child(1n+1) {
        clear: none
    }

    .projects-list li:nth-child(2n) {
        float: right;
        margin-right: 0
    }

    .projects-list li:nth-child(2n+1) {
        clear: both
    }
}

.projects-list h3 {
    margin-top: 0em
}

@media (min-width: 40em) {
    .projects-list p {
        position: relative;
    }
}

.education-modules li {
    margin-top: 1.5em;
    margin-bottom: 1.5em
}

.education-win {
    height: 179px;
    width: 246px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin: 0 auto 1.5em auto
}

@media (min-width: 40em) {
    .education-win {
        float: right;
        margin: 0 0 0 0.75em
    }
}

.employment-role {
    margin-bottom: 0.6410256em
}

.employment-details {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden
}

.employment-details li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0.375em
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap
}

.employment-details li:before {
    margin-right: 0.375em;
    content: '';
    display: inline-block
}

.employment-location:before {
    height: 18px;
    width: 13px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 -824px;
    background-repeat: no-repeat
}

.employment-dates:before {
    height: 18px;
    width: 17px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 -860px;
    background-repeat: no-repeat
}

.employment-tags {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden
}

.employment-tags li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0.375em
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap
}

.employment-tags li:before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 17px;
    background-image: url("/img/sprites-sfceea3f451-7f705467.png");
    background-position: 0 -842px;
    background-repeat: no-repeat;
    margin-right: 0.375em
}

.employment-description {
    margin-top: 0.6410256em;
    margin-bottom: 2.5641026em
}

.footer p {
    text-align: center;
    font-size: 0.83em;
    line-height: 1.8072289em;
    font-weight: 700
}

.ir, .social-links a, .education-win {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px
}

.ir:before, .social-links a:before, .education-win:before {
    content: "";
    display: block;
    width: 0;
    height: 150%
}

.hidden {
    display: none !important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:before, .wrap:before, .chromeframe:before, .navigation ul:before, .main:before, .header:before, .skills-list:before, .clearfix:after, .wrap:after, .chromeframe:after, .navigation ul:after, .main:after, .header:after, .skills-list:after {
    content: " ";
    display: table
}

.clearfix:after, .wrap:after, .chromeframe:after, .navigation ul:after, .main:after, .header:after, .skills-list:after {
    clear: both
}

.clearfix, .wrap, .chromeframe, .navigation ul, .main, .header, .skills-list {
    *zoom: 1
}

.clearfix:before, .wrap:before, .chromeframe:before, .navigation ul:before, .main:before, .header:before, .projects-list:before, .clearfix:after, .wrap:after, .chromeframe:after, .navigation ul:after, .main:after, .header:after, .projects-list:after {
    content: " ";
    display: table
}

.clearfix:after, .wrap:after, .chromeframe:after, .navigation ul:after, .main:after, .header:after, .projects-list:after {
    clear: both
}

.clearfix, .wrap, .chromeframe, .navigation ul, .main, .header, .projects-list {
    *zoom: 1
}

@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a, a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    .ir a:after, .social-links a a:after, .education-win a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: ""
    }

    pre, blockquote {
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr, img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    @page {
        margin: 0.5cm
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3
    }

    h2, h3 {
        page-break-after: avoid
    }
}

.projectPresentation {
    padding: 10px;
    margin: 5px;
    float: left;
}
