<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
    <meta charset="utf-8">
    <title>My name is Nikos</title>
    <meta name="description"
          content="I am a Developer with a passion for coding things that others can use and this is my curriculum vitae."/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="icon" type="image/ico" href="/img/fav.ico"/>

    <link href="/css/mynameisnikos.css" rel="stylesheet" type="text/css"/>
    <script src="/js/modernizr/modernizr.js" type="text/javascript"></script>
</head>
<body>

<div class="wrap">

<div class="menu">
    <div class="fixed">

        <div id="shownav" class="shownav">
            <nav class="navigation" role="navigation">
                <ul id="navigation">
                    <li class="current"><a href="#header">Introduction</a></li>
                    <li><a href="#about-me">About Me</a></li>
                    <li><a href="#key-skills">Key Skills</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#employment">Employment</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>

            <div class="social-links">
                <ul>
                    <li><a href="https://www.linkedin.com/pub/nikos-papageorgiou/7/443/325" class="linkedin"
                           title="me on LinkedIn">me
                        on Facebook</a></li>
                    <li><a href="https://www.facebook.com/nikos.papageorgiou.39" class="facebook"
                           title="me on Facebook">me
                        on Facebook</a></li>
                    <li><a href="http://stackoverflow.com/users/4277871/nikos-papageorgiou" class="stack-overflow"
                           title="me on Stack Overflow">me on Stack Overflow</a></li>
                    <li><a href="https://github.com/npgeorgiou" class="github" title="me on GitHub">me on
                        GitHub</a></li>
                </ul>
            </div>
            <!-- .social-links -->

        </div>

        <div id="shownavbutton" class="shownavbutton">
            Navigation
        </div>

    </div>
</div>

<article class="main" role="main">
<header id="header" class="header" role="banner">

    <h1 class="header-title">My Name is Nikos.</h1>

    <div class="header-image">
        <img src="/img/header-227fd657.png" data-at2x="/img/header@2x-33ccb3a7.png" alt=""/>
    </div>

    <div class="header-copy">
        <p>
            <span class="slabtext">I am a <span class="highlight">Developer</span></span>
            <span class="slabtext">with a true passion for</span>
            <span class="slabtext highlight">coding stuff.</span>
        </p>

        <p>
            <span class="slabtext">Welcome to my</span>
            <span class="slabtext highlight">curriculum vitae.</span>
        </p>
    </div>

    <!--[if lt IE 9]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
        today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
        better
        experience this site.</p>
    <![endif]-->

</header>
<section id="about-me" class="about-me">

    <h2>About Me</h2>

    <div class="about-copy">
        <p>I graduated from the University of Athens in 2009, obtaining a Bachelor degree in Management and Technology.
            After that,
            I moved to Denmark, where I completed my Masters in International Busuness. After a short break for work and
            military service,
            I resumed studying for a Bachelor in Programming. My purpose is to use my knowledge of these 2 fields in
            oder to bridge the gap between
            Business and IT.</p>

        <p>I have a keen interest in self development and I like to employ the scientific method to everything that I do
            by making choices based on research and evidence.</p>

        <p>In my spare time I enjoy experimenting with new technology, reading history, playing computer games,
            waiting for the next Wes Anderson film, and exploring the outside world, either by bicycle or on foot.</p>
    </div>

</section>
<section id="key-skills" class="key-skills">

    <h2>Key Skills</h2>

    <ul class="skills-list">
        <li class="coding">
            <h3>Coding</h3>

            <p>Experience of coding finished projects with various languages, including
                <abbr title="One of the most used programming languages">Java</abbr>,
                <abbr title="The programming language of the Web. What (almost) all websites run on">Javascript</abbr>,
                <abbr title="PHP: Hypertext Preprocessor, mostly used for servers and client-server interaction">PHP</abbr>
                and various
                <abbr title="The most common database family"> SQL databases</abbr>,
                and on various platforms, including
                <abbr title="A framework for writing servers in Javascript. Kind of riding-the-wave stuff.">NodeJS</abbr>.
            </p>
        </li>
        <li class="business">
            <h3>Business understanding</h3>

            <p>Having 2 degrees in Business, I can have a very good understanding of the overall picture.
                Understanding better the customers needs, or communicating with other parts of the organisation.</p>
        </li>
        <li class="servers">
            <h3>Server Management</h3>

            <p>Experience with installing, configuring and running Apache servers, as well as writing from scratch my
                own Java and NodeJS servers.</p>
        </li>
        <li class="web-design">
            <h3>Web Design</h3>

            <p>Experience with designing websites (like this one, or also see at my projects) using HTML, CSS and
                Javascript.
                Also experienced with both server-side
                <abbr title="Jade is an templating language for HTML generation at the server-side">(Jade)</abbr>
                and client-side
                <abbr title="Angular is a Javascript framework for client-side content generation">(Angular)</abbr>
                generated content.</p>
        </li>
        <li class="databases">
            <h3>Databases</h3>

            <p>Extensive experience with the major SQL Databases (mySQL, Oracle). On top of that, I have experience
                of
                <abbr title="Databases that dont use relational tables dor storing data">noSQL</abbr>
                databases and have build projects using them.</p>
        </li>
        <li class="version-control">
            <h3>Version Control</h3>

            <p>Experience using Git distributed version control system, allowing for the tracking of changes throughout
                a
                project's history.</p>
        </li>
        <li class="cloud-distributed">
            <h3>Cloud and Distributed Architecture</h3>

            <p>Have experience configuring, installing, and using servers and databases in various cloud solutions(
                <abbr title="Cloud computing platform by Microsoft">Azure</abbr>,
                <abbr title="Cloud computing platform by Amazon">AWS</abbr>,
                <abbr title="NoSQL cloud database">Mongolab</abbr>
                ). My biggest distributes application so far had 5 components,
                all running in different cloud platforms. </p>
        </li>
    </ul>

</section>
<section id="education" class="education">

    <h2>Education</h2>

    <h3>AP in Computer Science</h3>
    <ul class="employment-details">
        <li class="employment-location">Copenhagen Business Academy</li>
        <li class="employment-dates">2013 - ongoing</li>
    </ul>

    <p>A truly hands-on program, where I am learning to develop, maintain and renew IT systems.
        There is a strong focus on producing products that are according to the customers specification, and at the same time
        robust and technically solid.</p>

    <p>I really enjoy studying this. The parts I enjoy the most, are:</p>

    <ul class="education-modules">
        <li><strong>Variety of programming languages and tools. </strong>We are trained for a work environment where we
            are expected to
            learn new languages and tools quickly. This is why we do not stick to one language, but learn many (Java,
            Javascript, C++, C#).
            One exciting thing is that we are also jumping into new, fresh ideas, such as
            <abbr title="Mongo, ExpresJS, Angular, NodeJS. An approach of using JS for both client and server, and noSQL DB.">MEAN</abbr>.
        </li>
        <li><strong>Client-Server Architecture </strong>and knowledge of Web protocols (HTTP, TCP, IP) which helped me a
            lot create my own
            personal projects, and allow me to create things that can be shared and used by others (See projects).
        </li>
        <li><strong>Practical experience. </strong>There is a strong focus in personal research, fast learning and
            practice, and in
            actually designing and building solutions for problems, so I feel confident to jump in any project. I do not
            know
            everything, but I have learned how to look for the answers.
        </li>
        <li><strong>Teamwork </strong>is very important. Almost all projects are team projects, and everyhting happens
            through discussion
            and agreement. Designing, dividing work, and even coding - via Github.
        </li>
    </ul>

    <h3>M.Sc. In Economics & Business Administration, </h3>
    <ul class="employment-details">
        <li class="employment-location">Aarhus School of Business</li>
        <li class="employment-dates">2009 - 2011</li>
    </ul>

    <p>A truly international program, offering solid business understanding of the challenges and opportunities of
        globalised business on all aspects of the organisation (economics, organisation and management , HR,
        procurement).</p>

    <ul class="education-modules">
        <li><strong>Group work </strong> and ability to work effectively together with people in an international
            environment.
        </li>
        <li><strong>Understanding </strong>the challenges of globalization and ways to handle them.
        </li>
        <li><strong>Statistical analysis </strong>and use of specialized tools for large dataset modelling.
        </li>
    </ul>

    <h3>Bachelor Degree in Management and Technology</h3>
    <ul class="employment-details">
        <li class="employment-location">Athens University</li>
        <li class="employment-dates">2005 - 2009</li>
    </ul>

    <p>A program focused on providing education on all aspects of modern organizations: Econometrics, Management,
        Procurement, IT, HR & Strategy, Sales & Marketing.</p>

    <p>What I aquired from it, in a nutsshell:</p>
    <ul class="education-modules">
        <li><strong>All round Business understanding </strong>of every part of an organisation.
        </li>
        <li><strong>Introduction to programming </strong>and architecture of IT solutions for businesses.
        </li>
        <li><strong>Specialization in HR </strong> and the IT systems that support it.
        </li>
    </ul>

</section>
<section id="employment" class="employment">

    <h2>Employment</h2>

    <section class="employment-school-stickers">
        <h3 class="employment-role">Senior Web Developer for School Stickers</h3>

        <ul class="employment-details">
            <li class="employment-location">Birmingham</li>
            <li class="employment-dates">Jul 2013 - Present</li>
        </ul>

        <ul class="employment-tags">
            <li>Yii</li>
            <li>Magento</li>
            <li>E-Commerce</li>
            <li>Subversion</li>
            <li>
                <abbr title="REpresentational State Transfer architectural style for distributed hypermedia systems">REST</abbr>ful
                <abbr title="Application Programming Interface">API</abbr>s
            </li>
            <li>Automated Deployment</li>
        </ul>

        <p class="employment-description">Working as part of a small team of developers, my role consists of the
            maintenance
            and development of the sites and systems which power the School Stickers behaviour reward experience. This
            includes everything from the Magento e-commerce store used to sell our products, to the RESTful APIs which
            allow
            schools to access data on their students.</p>
    </section>

    <section class="employment-ghost-design">
        <h3 class="employment-role">Web Developer for Ghost Design</h3>

        <ul class="employment-details">
            <li class="employment-location">Leamington Spa</li>
            <li class="employment-dates">Sep 2011 - Jul 2013</li>
        </ul>

        <ul class="employment-tags">
            <li>Wordpress</li>
            <li>PerchCMS</li>
            <li>Lemonstand</li>
            <li>CakePHP</li>
            <li>Project Management</li>
            <li>Git</li>
        </ul>

        <p class="employment-description">I was responsible for the development of all the Web elements of projects
            taken on
            by the company. This includes writing project proposals and specifications, frontend coding of Photoshop
            designs,
            backend development using the tools best suited to the project, and liaising with clients.</p>
    </section>

    <section class="employment-propeller-communications">
        <h3 class="employment-role">Backend PHP Developer for Propeller Communications</h3>

        <ul class="employment-details">
            <li class="employment-location">Rugby</li>
            <li class="employment-dates">Oct 2010 - Sep 2011</li>
        </ul>

        <ul class="employment-tags">
            <li>PHP</li>
            <li>MySQL</li>
            <li>Fuel</li>
            <li>CodeIgniter</li>
            <li>Mercurial</li>
        </ul>

        <p class="employment-description">My role consisted of development with the company's MVC-based framework to
            build
            dynamic PHP-based CMS Web sites. This role included management of Mercurial repositories, which provides a
            safety-net during development, and allows multiple members of a team to work on the same project. The role
            has
            also allowed me to gain experience with jQuery and the use of AJAX, to provide a seamless end user
            experience.</p>
    </section>

    <section>
        <h3 class="employment-role">Graduate Intern Web Developer for South Worcestershire College</h3>

        <ul class="employment-details">
            <li class="employment-location">Evesham</li>
            <li class="employment-dates">Jan 2010 - Sep 2010</li>
        </ul>

        <ul class="employment-tags">
            <li>CakePHP</li>
            <li>XHTML</li>
            <li>CSS</li>
            <li>Project Management</li>
        </ul>

        <p class="employment-description">I was solely responsible for the planning, development, testing, launch and
            maintenance of a new college Web site. The focus of the new site was that of making it easier to use, to
            improve
            compliance with the Disability Discrimination Act, and to improve search engine rankings. Upon completion it
            was
            greeted with positive feedback from both staff and students at the college, and an increased conversion
            rate.</p>
    </section>

    <section class="employment-university-of-worcester">
        <h3 class="employment-role">IT and Media Support Technician for University of Worcester</h3>

        <ul class="employment-details">
            <li class="employment-location">Worcester</li>
            <li class="employment-dates">Sep 2008 - Dec 2009</li>
        </ul>

        <ul class="employment-tags">
            <li>Windows</li>
            <li>Printers</li>
            <li>Networking</li>
            <li>Public Facing</li>
        </ul>

        <p class="employment-description">I was part of a team responsible for providing media and technical support to
            students within the university's library. The role involved supporting the university's PCs, printers and
            software, as well as helping student's laptops to connect to the network. We needed good customer service
            skills,
            to ensure we dealt with customers with courtesy and respect, and as we were the most senior members of staff
            during our shifts, we had to uphold a professional image of the library and ensure compliance of its code of
            conduct.</p>
    </section>

    <section>
        <h3 class="employment-role">Technical Support Technician for Fujitsu / Tesco Broadband</h3>

        <ul class="employment-details">
            <li class="employment-location">Sidcup</li>
            <li class="employment-dates">Aug 2005 - Mar 2006</li>
        </ul>

        <ul class="employment-tags">
            <li>ADSL</li>
            <li>Technical Support</li>
            <li>Telephone Manner</li>
        </ul>

        <p class="employment-description">This call centre based role consisted of providing support to customers
            experiencing trouble using their broadband connection. It required a good telephone manner and the ability
            to
            explain complex instructions in an easy to understand way.</p>
    </section>

</section>
<section id="projects" class="projects">

    <h2>Projects</h2>
    <ul class="projects-list">
        <li>
            <div class="projectPresentation">
                <h3>Chat</h3>

                <div class="chat-image-container">
                </div>
                <div class="description">
                    <p><span style="font-weight: bold;">Description: </span>
                        <a href="http://npgeor.cloudapp.net:8080/index.html">Skaip</a>
                        is a chat program that you can download and chat with other online users.</p>
                </div>

                <div class="nerdy-info">
                    <p><span style="font-weight: bold;">Nerdy info: </span>Both the website and
                        chat server are handwritten from scratch Java Servers.
                        Client-server communication builds on top of the HTTP protocol.
                        This was a great introduction in networking.</p>
                </div>
                <div class="tecks">
                    <p><span style="font-weight: bold;">Technologies used: </span>HTTP, Java</p>
                </div>
            </div>
        </li>

        <li>

            <div class="projectPresentation">
                <h3>Pixel Academy</h3>

                <div class="pixelAcademy-image-container">
                </div>

                <div class="description">
                    <p><span style="font-weight: bold;">Description: </span><a
                            href="http://npgeor.cloudapp.net:7070/pages/index.html">Pixel Academy</a>
                        is a SPA that displays the staff and students of an academy. You can add, edit and delete users,
                        so
                        feel
                        free to play with it.</p>
                </div>
                <div class="nerdy-info">
                    <p><span style="font-weight: bold;">Nerdy info: </span>The website is hosted by a
                        written-from-scratch
                        Java
                        HTTP Server.
                        The persons info is saved and retrieved in an SQL DB, via ajax calls. Object mapping uses JPA.
                        This was an exercise on asynchronous calls and the challenges of Object-Relational Mapping.</p>
                </div>
                <div class="tecks">
                    <p><span style="font-weight: bold;">Technologies used: </span>HTTP, Java, Javascript, JPA, MySQL,
                        JSON
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="projectPresentation">
                <h3>SeaCargo</h3>

                <div class="seaCargo-image-container">
                </div>

                <div class="description">
                    <p><span style="font-weight: bold;">Description: </span><a
                            href="http://seacargo.azurewebsites.net/">SeaCargo</a>
                        is an imaginary transport company. You can view (or delete) info about its operations, so
                        free to play (responsibly!) with it.</p>
                </div>
                <div class="nerdy-info">
                    <p><span style="font-weight: bold;">Nerdy info: </span>The website is hosted by a
                        written-from-scratch
                        Node
                        Server.
                        Client-server data transfer utilises ajax calls and JSON. Objects are saved in a noSQL DB
                        (mongo).
                        Html is build in real-time by server-side templating (Jade).
                        This was an exercise on Node servers, noSQL, and server-side-templating.</p>
                </div>
                <div class="tecks">
                    <p><span style="font-weight: bold;">Technologies used: </span>Node, Javascript, ajax, noSQL DB,
                        JSON,
                        Jade</p>
                </div>
            </div>
        </li>
        <li>
            <div class="projectPresentation">
                <h3>GlobeJob</h3>

                <div class="globejob-image-container">
                </div>

                <div class="description">
                    <p><span style="font-weight: bold;">Description: </span><a
                            href="http://globejob.azurewebsites.net/">Globejob</a>
                        is site that gathers all the english-speaking job ads in Denmark. A useful tool for those who do
                        not
                        speak
                        Danish.</p>
                </div>
                <div class="nerdy-info">
                    <p><span style="font-weight: bold;">Nerdy info: </span>My biggest project so far. The jobs are taken
                        via
                        web
                        crawlers written in Java. The web server is a written-from-scratch Node server, while the client
                        runs on Angular (html generated on run-time at client).

                        This is a really distributed project, whose components run on 3 different cloud platforms.</p>
                </div>
                <div class="tecks">
                    <p><span style="font-weight: bold;">Technologies used: </span>Node, Angular, Javascript, ajax, JSON,
                        Java, JPA,
                        mySQL</p>
                </div>
            </div>
        </li>
    </ul>

</section>
<section id="contact" class="contact">

    <h2>Contact</h2>

    <p>If you like what you see and want to get in touch, you can contact me via any of the social networks listed
        below,
        call me at 52443237
        <a href="mailto:npgeorgiou@yahoo.gr">, or you can email me</a>.</p>

    <div class="social-links">
        <ul>
            <li><a href="https://www.linkedin.com/pub/nikos-papageorgiou/7/443/325" class="linkedin"
                   title="me on LinkedIn">me
                on Facebook</a></li>
            <li><a href="https://www.facebook.com/nikos.papageorgiou.39" class="facebook" title="me on Facebook">me
                on Facebook</a></li>
            <li><a href="http://stackoverflow.com/users/4277871/nikos-papageorgiou" class="stack-overflow"
                   title="me on Stack Overflow">me on Stack Overflow</a></li>
            <li><a href="https://github.com/npgeorgiou" class="github" title="me on GitHub">me on
                GitHub</a></li>
        </ul>
    </div>
    <!-- .social-links -->

</section>
<footer class="footer" role="contentinfo">
    <p>Site content Copyright &copy; 2015 Nikos Papageorgiou.
        <a href="TODO: put github rep link">View source on Github</a>.</p>
</footer>
<!-- #footer -->
</article>
<!-- .main -->

</div>
<!-- .wrap -->


<script src="//code.jquery.com/jquery-1.10.0.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.0-04c9d49c.js"><\/script>')</script>
<!--[if (gte IE 6)&(lte IE 8)]>
<script src="/js/vendor/selectivizr-1.0.2-a876a145.js" type="text/javascript"></script>
<![endif]-->
<script src="/js/pageJS.js" type="text/javascript"></script>

</body>
</html>
