<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>My name is Nikos</title>
    <meta name="description"
          content="I am a Developer with a passion for coding things that others can use and this is my curriculum vitae."/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="icon" type="image/ico" href="/img/fav.ico"/>

    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/views/nikos.papageorgiou/css/page.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="wrap">
    <div class="menu">
        <div class="fixed fullHeight" id="sidebar">
            <div id="shownav" class="shownav">
                <nav class="navigation" role="navigation">
                    <ul id="navigation">
                        <li class="current"><a href="#header">Introduction</a></li>
                        <li><a href="#about-me">About Me</a></li>
                        <li><a href="#key-skills">Key Skills</a></li>
                        <li><a href="#employment">Employment</a></li>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#projects">Pet Projects</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>

                <div class="social-links">
                    <ul>
                        <li><a href="https://www.linkedin.com/pub/nikos-papageorgiou/7/443/325" class="linkedin"
                               title="me on LinkedIn">me
                            on Facebook</a></li>
                        <li><a href="https://www.facebook.com/nikos.papageorgiou.39" class="facebook"
                               title="me on Facebook">me
                            on Facebook</a></li>
                        <li><a href="http://stackoverflow.com/users/4277871/nikos-papageorgiou" class="stack-overflow"
                               title="me on Stack Overflow">me on Stack Overflow</a></li>
                        <li><a href="https://github.com/npgeorgiou" class="github" title="me on GitHub">me on
                            GitHub</a></li>
                    </ul>
                </div>
                <!-- .social-links -->

            </div>

            <div id="shownavbutton" class="shownavbutton">
                Navigation
            </div>

        </div>
    </div>

    <article class="main" role="main">
        <header id="header" class="header" role="banner">

            <h1 class="header-title">My Name is Nikos.</h1>

            <div class="header-image">
                <img src="/views/nikos.papageorgiou/img/header.png" alt=""/>
            </div>

            <div class="header-copy">
                <p>
                    <span class="slabtext">I am a <span class="highlight">Developer</span></span>
                    <span class="slabtext">with a true passion for</span>
                    <span class="slabtext highlight">coding stuff.</span>
                </p>

                <p>
                    <span class="slabtext">Welcome to my</span>
                    <span class="slabtext highlight">curriculum vitae.</span>
                </p>
            </div>

            <!--[if lt IE 9]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your
                browser
                today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
                to
                better
                experience this site.</p>
            <![endif]-->

        </header>

        <section id="about-me" class="about-me">
            <h2>About Me</h2>

            <div class="about-copy">
                <p>
                    <b>I love clean and orthogonal solutions.</b> During my career I discovered that I have a rare talent: 
                    I am good at stopping, reverting, or averting in the first place the slow decline of codebases and systems towards entropy.
                </p>

                <p>If we work together, you should expect to hear me talk a lot about the importance of <b>tests, simplicity, and standards</b>.</p>

                <p>
                    I somehow managed to collect 2 degrees in Business and 1 in IT.
                    I like to think that my knowledge of Business and IT helps me <b>create valuable solutions</b>.
                </p>

                <p>
                    A problem-solver at heart, I dont only use code to solve problems. I put great focus on understanding the domain of the business 
                    I work in, and after (or while) I do that, I am not shy of challenging current solutions.
                </p>

                <p>In my spare time I enjoy experimenting with new technology, reading history and waiting for the next Wes Anderson film.</p>
            </div>
        </section>

        <section id="key-skills" class="key-skills">
            <h2>Key Skills</h2>

            <ul class="skills-list">
                <li class="coding">
                    <h3>Coding</h3>

                    <p> I have several years of experience with PHP, Javascript, Typescript, Golang, Java and Ruby.
                        Nevertheless, I am not a big fun of listing languages/tech stacks. I think that a competent
                        developer learns ways of thinking, not languages.
                    </p>
                </li>
                <li class="business">
                    <h3>Business understanding</h3>

                    <p>Having 2 degrees in Business, I can have a very good understanding of the overall picture.
                        Understanding better the customers needs, or communicating with other parts of the
                        organisation.</p>
                </li>
                <li class="servers">
                    <h3>Server Management</h3>

                    <p>Have deployed and maintained projects in various hosting platforms, such as AWS, Heroku, Azure, as well as written from
                        scratch my own server in Java.</p>
                </li>
                <li class="databases">
                    <h3>Databases</h3>

                    <p>Experience with the major SQL Databases (mySQL, Oracle, Postgres).
                        On top of that, I have experience with noSql
                        databases and have build projects using them.</p>
                </li>
                <li class="version-control">
                    <h3>Version Control</h3>

                    <p>Routinely using Git in an day-today basis (at work and for pet projects),
                        branching, merging and rebasing to keep the codebase clean while working on multiple features.</p>
                </li>
                <li class="cloud-distributed">
                    <h3>Cloud and Distributed Architecture</h3>

                    <p>Have experience configuring, deploying, and maintaining servers and databases in various cloud
                        solutions(Azure, AWS, Heroku).
                        Won't shy away from a microservices architecture; I 've build them. But nowadays my experience
                        and common sense will make me think twice before I dive into them.
                    </p>
                </li>
            </ul>
        </section>
       
        <section id="employment" class="employment">
            <h2>Employment</h2>
            <section>
                <h3 class="employment-role">Lead Developer at Lendme</h3>

                <ul class="employment-details">
                    <li class="employment-location">Copenhagen</li>
                    <li class="employment-dates">December 2019 - Present</li>
                </ul>

                <ul class="employment-tags">
                    <li>Docker</li>
                    <li>Symfony</li>
                    <li>Angular</li>
                    <li>Golang</li>
                </ul>

                <p class="employment-description">As the team grows, I take on the role of mentoring new members,
                    reviewing code and establishing a common understanding of quality. My time is divided between
                    developing software myself, and helping others develop software, something that I find a natural fit
                    for me, and very rewarding.
                </p>
                <ul class="education-modules">
                    <li>Advocating for stricter development and deployment practices</li>
                    <li>Mentoring new team members</li>
                    <li>Organizing and hosting sessions that expand the team's skills and create good habits</li>
                    <li>Safeguarding that code included in the projects does more good than bad via code reviews</li>
                </ul>
            </section>

            <section>
                <h3 class="employment-role">Senior Developer at Lendme</h3>

                <ul class="employment-details">
                    <li class="employment-location">Copenhagen</li>
                    <li class="employment-dates">June 2018 - November 2019</li>
                </ul>

                <ul class="employment-tags">
                    <li>Docker</li>
                    <li>Symfony</li>
                    <li>Angular</li>
                </ul>

                <p class="employment-description">Standing in between loan consumers and banks and building solutions to make sure that both parties get the smoothest experience possible</p>
                <ul class="education-modules">
                    <li>Re-thinking and gradually re-architecting the backend architecture to cope with growing pains (What a lesson in progressive refactoring across a number of systems!)</li>
                    <li>Writing tests, tests, and some more tests on top. You don't want to make a bank doubt your credibility</li>
                    <li>Dealing with the growing pains of a startup in its journey towards maturity: Tighten, measure, validate, recover, automate</li>
                </ul>
            </section>

            <section>
                <h3 class="employment-role">Backend PHP Developer at Linkfire</h3>

                <ul class="employment-details">
                    <li class="employment-location">Copenhagen</li>
                    <li class="employment-dates">May 2016 - April 2018</li>
                </ul>

                <ul class="employment-tags">
                    <li>Laravel</li>
                    <li>Rapid prototyping</li>
                </ul>

                <p class="employment-description">At Linkfire I am a member of a team doing rapid prototyping for our fast-growing company.
                On top of that I maintain and develop a couple of legacy systems until our new stack replaces them, so in a typical day there is a lot of task-switching</p>
                <ul class="education-modules">
                    <li>Prototyping new project ideas</li>
                    <li>Develop and maintain back-office tools</li>
		            <li>Moving projects from MVC to SPA client-server architecture</li>
                    <li>Developed a claims management system used by the largest music publishers in the world</li> 
                    <li>Helped develop a Facebook Ads client that is helping music publishers target people who interacted with their music</li>
                </ul>
            </section>

            <section>
                <h3 class="employment-role">Backend PHP Developer at Colego</h3>

                <ul class="employment-details">
                    <li class="employment-location">Copenhagen</li>
                    <li class="employment-dates">Feb 2015 - May 2016</li>
                </ul>

                <ul class="employment-tags">
                    <li>Development</li>
                    <li>Linux</li>
                    <li>Database optimization</li>
                    <li>Integrations</li>
                </ul>

                <p class="employment-description">My first job as a Developer, and an eye-opening experience to the
                    world of professional software development.
                    Definitely one of the most productive and educating periods of my life.
                    As a member of a team whose goal is to replace an outdated legacy system with a modern, stable, and
                    scalable solution, my tasks include:</p>
                <ul class="education-modules">
                    <li>Researching different solutions to be added in our technology stack (database, memory cache)
                    </li>
                    <li>Designing user flows and developing backend functionality for them</li>
                    <li>Integrating with external services (emails, sms, payment, etch)</li>
                    <li>Integrating with frontend</li>
                    <li>Creating internal monitoring tools</li>
                    <li>Full-fledged Git usage</li>
                </ul>
            </section>
        </section>

        <section id="education" class="education">
            <section>
                <h2>Education</h2>

                <h3>AP in Computer Science</h3>
                <ul class="employment-details">
                    <li class="employment-location">Copenhagen Business Academy</li>
                    <li class="employment-dates">2013 - 2015</li>
                </ul>

                <p>A truly hands-on program, where I learned to develop, maintain and renew IT systems.
                    There is a strong focus on producing products that are according to the customers specification, and
                    at
                    the same
                    time robust and technically solid.</p>

                <p>I really enjoyed taking this education. The parts I loved the most were:</p>

                <ul class="education-modules">
                    <li><strong>Variety of programming languages and tools. </strong>
                        We got trained for a work environment where we
                        are expected to learn new languages and tools quickly. This is why we did not stick to one
                        language,
                        but learn many (Java,
                        Javascript, C++, C#). One exciting thing is that we were also jumping into what is relevant in
                        the
                        tech workd currently, such as
                        <abbr title="Mongo, ExpresJS, Angular, NodeJS. An approach of using JS for both client and server, and noSQL DB.">MEAN</abbr>.
                    </li>
                    <li><strong>Client-Server Architecture </strong>and knowledge of Web protocols (HTTP, TCP, IP) which
                        helped me a
                        lot to create my own personal projects, that can be shared and used by others (See projects).
                    </li>
                    <li><strong>Practical experience. </strong>
                        There was a strong focus in personal research, fast learning and practice, and in
                        actually designing and building solutions for problems. It made me feel confident to jump in any
                        project. I do not
                        know everything, but I have learned how to look for the answers.
                    </li>
                    <li><strong>Teamwork </strong>was a very important aspect. Almost all projects were team projects,
                        and
                        everything happened
                        through discussion and agreement. Designing, dividing work, and even coding - via Github.
                    </li>
                </ul>
            </section>

            <section>
                <h3>M.Sc. In Economics & Business Administration</h3>
                <ul class="employment-details">
                    <li class="employment-location">Aarhus School of Business</li>
                    <li class="employment-dates">2009 - 2011</li>
                </ul>

                <p>A truly international program, offering solid business understanding of the challenges and
                    opportunities
                    of
                    globalised business on all aspects of the organisation (economics, organisation and management , HR,
                    procurement).</p>

                <ul class="education-modules">
                    <li><strong>Group work </strong> and ability to work effectively together with people in an
                        international
                        environment.
                    </li>
                    <li><strong>Understanding </strong>the challenges of globalization and ways to handle them.
                    </li>
                    <li><strong>Statistical analysis </strong>and use of specialized tools for large dataset modelling.
                    </li>
                </ul>
            </section>

            <section>
                <h3>Bachelor Degree in Management and Technology</h3>
                <ul class="employment-details">
                    <li class="employment-location">Athens University</li>
                    <li class="employment-dates">2005 - 2009</li>
                </ul>

                <p>A program focused on providing education on all aspects of modern organizations: Econometrics,
                    Management,
                    Procurement, IT, HR & Strategy, Sales & Marketing.</p>

                <p>What I aquired from it, in a nutshell:</p>
                <ul class="education-modules">
                    <li><strong>All round Business understanding </strong>of every part of an organisation.
                    </li>
                    <li><strong>Introduction to programming </strong>and architecture of IT solutions for businesses.
                    </li>
                    <li><strong>Specialization in HR </strong> and the IT systems that support it.
                    </li>
                </ul>
            </section>
        </section>

        <section id="projects" class="projects">
            <h2>Pet Projects</h2>
            <ul class="projects-list">
                <li>
                    <div class="projectPresentation">
                        <h3>Crypto trading bot</h3>

                        <a href="https://github.com/npgeorgiou/Bittrex_bot" target="_blank">
                            <div class="chart-image-container">
                            </div>
                        </a>

                        <div class="description">
                            <p><span style="font-weight: bold;">Description: </span>
                                How could 2017 be complete without a crypto related project?
                                <a href="https://github.com/npgeorgiou/Bittrex_bot" target="_blank">Bittrex bot</a>
                                is an automatic trading tool, that executes orders against Bittrex, one of the most used crypto-exchanges.</p>
                        </div>

                        <div class="nerdy-info">
                            <p><span style="font-weight: bold;">Nerdy info: </span>The bot implements a moving average crossover strategy.
                                It can be configured to operate on various periods (1h, 4h, 1d, etch)
                                depending on how often the cron job will run it, but some backtesting has shown that 1d produces the best results.</p>
                                It has produced satisfying results so far, and you are free to use it at your own risk.
                        </div>
                        <div class="tecks">
                            <p><span style="font-weight: bold;">Technologies used: </span>Php</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="projectPresentation">
                        <h3>Chat</h3>

                        <a href="https://github.com/npgeorgiou/HttpChat" target="_blank">
                            <div class="chat-image-container">
                            </div>
                        </a>

                        <div class="description">
                            <p><span style="font-weight: bold;">Description: </span>
                                <a href="https://github.com/npgeorgiou/HttpChat" target="_blank">Skaip</a>
                                is a chat program that you can host, and others can download and chat with you.</p>
                        </div>

                        <div class="nerdy-info">
                            <p><span style="font-weight: bold;">Nerdy info: </span>Both the website and
                                chat server are written in standard Java, without any external library support. The chat
                                server opens a socket for each client and handles each one of them as a thread.
                                Client-server communication builds on top of the HTTP protocol.
                                This was a great learning experience on the internals of HTTP and sockets.</p>
                        </div>
                        <div class="tecks">
                            <p><span style="font-weight: bold;">Technologies used: </span>HTTP, Java</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="projectPresentation">
                        <h3>SeaCargo</h3>


                        <a href="https://seacargoapp.herokuapp.com/" target="_blank">
                            <div class="seaCargo-image-container">
                            </div>
                        </a>

                        <div class="description">
                            <p><span style="font-weight: bold;">Description: </span><a
                                    href="https://seacargoapp.herokuapp.com/" target="_blank">SeaCargo</a>
                                is an imaginary transport company. You can view (or delete) info about its operations,
                                so
                                free to play (responsibly!) with it.</p>
                        </div>
                        <div class="nerdy-info">
                            <p><span style="font-weight: bold;">Nerdy info: </span>The website is hosted by a
                                written-from-scratch Node Server. Objects are saved in a noSQL DB (mongo).
                                Html is build by server-side templating (Jade), and lazy-loaded with ajax calls.
                                This was an exercise on Node servers, noSQL, and server-side-templating.</p>
                        </div>
                        <div class="tecks">
                            <p><span style="font-weight: bold;">Technologies used: </span>Node, noSQL, Jade, Heroku</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="projectPresentation">
                        <h3>GlobeJob</h3>

                        <a href="https://github.com/npgeorgiou/crawler_to_AWS" target="_blank">
                            <div class="globejob-image-container"></div>
                        </a>

                        <div class="description">
                            <p><span style="font-weight: bold;">Description: </span>
                                <a href="https://github.com/npgeorgiou/crawler_to_AWS" target="_blank">Globejob</a>
                                is project that gathers all the english-speaking job ads in Denmark.
                                A useful tool for those who do not speak Danish.</p>
                        </div>
                        <div class="nerdy-info">
                            <p><span style="font-weight: bold;">Nerdy info: </span>My first big pet project. The jobs
                                are taken by web crawlers written in Java, and persisted in an AWS database.
                                The web server is a Node server, while the client runs on Angular.
                                This is a really distributed project, whose components run on 3 different cloud platforms.</p>
                        </div>
                        <div class="tecks">
                            <p><span style="font-weight: bold;">Technologies used: </span>Node, Angular, Javascript,
                                ajax, JSON,
                                Java, JPA,
                                mySQL</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="projectPresentation">
                        <h3>Budget</h3>

                        <a href="https://github.com/npgeorgiou/budget" target="_blank">
                            <div class="budget-image-container"></div>
                        </a>

                        <div class="description">
                            <p><span style="font-weight: bold;">Description: </span>
                                <a href="https://github.com/npgeorgiou/budget" target="_blank">Budget</a>
                                is project that lets you examine and present bank account transactions.</p>
                        </div>
                        <div class="nerdy-info">
                            <p><span style="font-weight: bold;">Nerdy info: </span>My first Ruby project. I wanted to
                                learn Ruby, and experiment with the idea of
                                clients of different nature hooking up to the same server. The project has 2 clients, a
                                webpage and a console app.
                                They collect user input any way their nature allows, format it to the standard that the
                                Backend expects,
                                and present the output in the way that makes sense to their nature.</p>
                        </div>
                        <div class="tecks">
                            <p><span style="font-weight: bold;">Technologies used: </span>Angular, ajax, Ruby</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="projectPresentation">
                        <h3>FastRent</h3>

                        <a href="https://fastrent.herokuapp.com" target="_blank">
                            <div class="fastrent-image-container"></div>
                        </a>

                        <div class="description">
                            <p><span style="font-weight: bold;">Description: </span>
                                Who doesn't love crawlers?
                                <a href="https://fastrent.herokuapp.com/" target="_blank">FastRent</a>
                                is currently under development, and fetches all the latest housing ads in Denmark.</p>
                        </div>
                        <div class="nerdy-info">
                            <p><span style="font-weight: bold;">Nerdy info: </span>My first large Ruby project. I wanted to avoid the Rails overhead,
                                so I decided to build the app from scratch:
                                Puma for the server, sinatra for endpoints, pg(postgres) and active record for database communication and ORM.
                                Apart from that, the system includes processes for crawling the web and populating the database, for cleaning up expired ads, and for sending emails at scheduled intervals.
                                In the close future, it will also have a whole bunch of other integrations with external services, such as SMS and online payment.</p>
                        </div>
                        <div class="tecks">
                            <p><span style="font-weight: bold;">Technologies used: </span>Angular, Ruby, Postgres, Heroku</p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <section id="contact" class="contact">
            <h2>Contact</h2>

          <div>

                <p>If you like what you see and want to get in touch, you can contact me via any of the social networks
                listed on the navigation bar, or call me at 52443237.

		 <!--
            <a href="mailto:npgeorgiou@yahoo.gr">or you can email me</a>.</p>

            <div class="social-links">
                <ul>
                    <li><a href="https://www.linkedin.com/pub/nikos-papageorgiou/7/443/325" class="linkedin"
                           title="me on LinkedIn">me
                        on Facebook</a></li>
                    <li><a href="https://www.facebook.com/nikos.papageorgiou.39" class="facebook"
                           title="me on Facebook">me
                        on Facebook</a></li>
                    <li><a href="http://stackoverflow.com/users/4277871/nikos-papageorgiou" class="stack-overflow"
                           title="me on Stack Overflow">me on Stack Overflow</a></li>
                    <li><a href="https://github.com/npgeorgiou" class="github" title="me on GitHub">me on
                        GitHub</a></li>
                </ul>
            </div>

               -->
                
          </div>


        </section>
        <footer class="footer" role="contentinfo">
            <p>Site content Copyright &copy; 2020 Nikos Papageorgiou.

            <!-- <a href="https://github.com/npgeorgiou/MyNameIsNikos">View source on Github</a>.</p> -->
        </footer>
        <!-- #footer -->
    </article>
    <!-- .main -->

</div>
<!-- .wrap -->


<script src="//code.jquery.com/jquery-2.1.2.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.0-04c9d49c.js"><\/script>')</script>
<!--[if (gte IE 6)&(lte IE 8)]>
<script src="/js/vendor/selectivizr-1.0.2-a876a145.js" type="text/javascript"></script>
<![endif]-->
<script src="/js/main.js" type="text/javascript"></script>

</body>
</html>
