<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>My name is Nikos</title>
    <meta name="description"
          content="I am a Developer with a passion for coding things that others can use and this is my curriculum vitae."/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="icon" type="image/ico" href="/img/fav.ico"/>

    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/views/nikos.papageorgiou/css/page.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="wrap">
    <div class="menu">
        <div class="fixed fullHeight" id="sidebar">
            <div id="shownav" class="shownav">
                <nav class="navigation" role="navigation">
                    <ul id="navigation">
                        <li class="current"><a href="#header">Introduction</a></li>
                        <li><a href="#about-me">About Me</a></li>
                        <li><a href="#key-skills">Key Skills</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#employment">Employment</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>

                <div class="social-links">
                    <ul>
                        <li><a href="https://www.linkedin.com/pub/nikos-papageorgiou/7/443/325" class="linkedin"
                               title="me on LinkedIn">me
                            on Facebook</a></li>
                        <li><a href="https://www.facebook.com/nikos.papageorgiou.39" class="facebook"
                               title="me on Facebook">me
                            on Facebook</a></li>
                        <li><a href="http://stackoverflow.com/users/4277871/nikos-papageorgiou" class="stack-overflow"
                               title="me on Stack Overflow">me on Stack Overflow</a></li>
                        <li><a href="https://github.com/npgeorgiou" class="github" title="me on GitHub">me on
                            GitHub</a></li>
                    </ul>
                </div>
                <!-- .social-links -->

            </div>

            <div id="shownavbutton" class="shownavbutton">
                Navigation
            </div>

        </div>
    </div>

    <article class="main" role="main">
        <header id="header" class="header" role="banner">

            <h1 class="header-title">My Name is Nikos.</h1>

            <div class="header-image">
                <img src="/views/nikos.papageorgiou/img/header.png" alt=""/>
            </div>

            <div class="header-copy">
                <p>
                    <span class="slabtext">I am a <span class="highlight">Developer</span></span>
                    <span class="slabtext">with a true passion for</span>
                    <span class="slabtext highlight">coding stuff.</span>
                </p>

                <p>
                    <span class="slabtext">Welcome to my</span>
                    <span class="slabtext highlight">curriculum vitae.</span>
                </p>
            </div>

            <!--[if lt IE 9]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your
                browser
                today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
                to
                better
                experience this site.</p>
            <![endif]-->

        </header>
        <section id="about-me" class="about-me">

            <h2>About Me</h2>

            <div class="about-copy">
                <p>I graduated from the University of Athens in 2009, obtaining a Bachelor degree in Management and
                    Technology.
                    After that, I moved to Denmark, where I completed my Masters in International Business. After a short break for
                    work and military service I resumed studying for a Bachelor in Programming.
                    I like to think that my knowledge of Business and IT helps me create valuable solutions.</p>

                <p>I have a keen interest in self-development and I like to employ the scientific method to everything
                    that I do by making choices based on research and evidence.</p>

                <p>In my spare time I enjoy experimenting with new technology, reading history, playing computer games,
                    waiting for the next Wes Anderson film, and exploring the outside world, either by bicycle or on foot.</p>
            </div>

        </section>
        <section id="key-skills" class="key-skills">

            <h2>Key Skills</h2>

            <ul class="skills-list">
                <li class="coding">
                    <h3>Coding</h3>

                    <p> I have two years of professional experience with
                        <abbr title="PHP: Hypertext Preprocessor, mostly used for servers and client-server interaction">PHP</abbr>
                        and on top of that have coded finished projects with various languages, including
                        <abbr title="One of the most used programming languages">Java</abbr>,
                        <abbr title="The programming language of the Web. What (almost) all websites run on">Javascript</abbr> and
                        <abbr title="A dynamic language with a focus on simplicity and productivity">Ruby</abbr>,
                        and on various platforms, including
                        <abbr title="A framework for writing servers in Javascript. Kind of riding-the-wave stuff.">NodeJS</abbr>.
                    </p>
                </li>
                <li class="business">
                    <h3>Business understanding</h3>

                    <p>Having 2 degrees in Business, I can have a very good understanding of the overall picture.
                        Understanding better the customers needs, or communicating with other parts of the
                        organisation.</p>
                </li>
                <li class="servers">
                    <h3>Server Management</h3>

                    <p>Experience with installing, configuring and running Apache servers, as well as writing from
                        scratch my own Java, Ruby and NodeJS server apps.</p>
                </li>
                <li class="web-design">
                    <h3>Web Design</h3>

                    <p>Experience with designing websites (like this one, or also see at my projects) using HTML, CSS
                        and Javascript. Also experienced with both server-side
                        <abbr title="Jade is a templating language for HTML generation at the server-side">(Jade)</abbr>
                        and client-side
                        <abbr title="Angular is a Javascript framework for client-side content generation">(Angular)</abbr>
                        generated content.</p>
                </li>
                <li class="databases">
                    <h3>Databases</h3>

                    <p>Extensive experience with the major SQL Databases (mySQL, Oracle, Postgres).
                        On top of that, I have experience with
                        <abbr title="Databases that dont use relational tables for storing data">noSQL</abbr>
                        databases and have build projects using them.</p>
                </li>
                <li class="version-control">
                    <h3>Version Control</h3>

                    <p>Routinely using Git in an day-today basis (at work and for pet projects),
                        branching, merging and rebasing to keep the codebase clean while working on multiple features.</p>
                </li>
                <li class="cloud-distributed">
                    <h3>Cloud and Distributed Architecture</h3>

                    <p>Have experience configuring, installing, and using servers and databases in various cloud
                        solutions(
                        <abbr title="Cloud computing platform by Microsoft">Azure</abbr>,
                        <abbr title="Cloud computing platform by Amazon">AWS</abbr>,
                        <abbr title="Another popular cloud hosting platform">Heroku</abbr>
                        <abbr title="NoSQL cloud database">Mongolab</abbr>
                        ). My biggest pet project so far had 5 components,
                        all running in different cloud platforms, while in my current job I work with a very modularized, distributed architecture</p>
                </li>
            </ul>

        </section>
        <section id="projects" class="projects">

            <h2>Projects</h2>
            <ul class="projects-list">
                <!--<li>-->
                <!--<div class="projectPresentation">-->
                <!--<h3>Chat</h3>-->

                <!--<a href="http://npgeor.cloudapp.net:8080/index.html" target="_blank">-->
                <!--<div class="chat-image-container">-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="description">-->
                <!--<p><span style="font-weight: bold;">Description: </span>-->
                <!--<a href="http://npgeor.cloudapp.net:8080/index.html" target="_blank">Skaip</a>-->
                <!--is a chat program that you can download and chat with other online users.</p>-->
                <!--</div>-->

                <!--<div class="nerdy-info">-->
                <!--<p><span style="font-weight: bold;">Nerdy info: </span>Both the website and-->
                <!--chat server are handwritten from scratch Java Servers.-->
                <!--Client-server communication builds on top of the HTTP protocol.-->
                <!--This was a great introduction in networking.</p>-->
                <!--</div>-->
                <!--<div class="tecks">-->
                <!--<p><span style="font-weight: bold;">Technologies used: </span>HTTP, Java</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->

                <!--<li>-->

                <!--<div class="projectPresentation">-->
                <!--<h3>Pixel Academy</h3>-->

                <!--<a href="http://npgeor.cloudapp.net:7070/pages/index.html" target="_blank">-->
                <!--<div class="pixelAcademy-image-container">-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="description">-->
                <!--<p><span style="font-weight: bold;">Description: </span><a-->
                <!--href="http://npgeor.cloudapp.net:7070/pages/index.html" target="_blank">Pixel Academy</a>-->
                <!--is a-->
                <!--<abbr title="Single Page Application">SPA</abbr>-->
                <!--that displays the staff and students of an academy. You can add, edit and delete users,-->
                <!--so feel free to play with it.</p>-->
                <!--</div>-->
                <!--<div class="nerdy-info">-->
                <!--<p><span style="font-weight: bold;">Nerdy info: </span>The website is hosted by a-->
                <!--written-from-scratch-->
                <!--Java-->
                <!--HTTP Server.-->
                <!--The persons info is saved and retrieved in an SQL DB, via ajax calls. Object mapping uses JPA.-->
                <!--This was an exercise on asynchronous calls and the challenges of Object-Relational Mapping.</p>-->
                <!--</div>-->
                <!--<div class="tecks">-->
                <!--<p><span style="font-weight: bold;">Technologies used: </span>HTTP, Java, Javascript, ajax, JPA,-->
                <!--MySQL,-->
                <!--JSON-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <li>
                    <div class="projectPresentation">
                        <h3>SeaCargo</h3>


                        <a href="https://seacargoapp.herokuapp.com/" target="_blank">
                            <div class="seaCargo-image-container">
                            </div>
                        </a>

                        <div class="description">
                            <p><span style="font-weight: bold;">Description: </span><a
                                    href="https://seacargoapp.herokuapp.com/" target="_blank">SeaCargo</a>
                                is an imaginary transport company. You can view (or delete) info about its operations,
                                so
                                free to play (responsibly!) with it.</p>
                        </div>
                        <div class="nerdy-info">
                            <p><span style="font-weight: bold;">Nerdy info: </span>The website is hosted by a
                                written-from-scratch Node Server. Objects are saved in a noSQL DB (mongo).
                                Html is build by server-side templating (Jade), and lazy-loaded with ajax calls.
                                This was an exercise on Node servers, noSQL, and server-side-templating.</p>
                        </div>
                        <div class="tecks">
                            <p><span style="font-weight: bold;">Technologies used: </span>Node, noSQL, Jade, Heroku</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="projectPresentation">
                        <h3>GlobeJob</h3>

                        <a href="https://github.com/npgeorgiou/crawler_to_AWS" target="_blank">
                            <div class="globejob-image-container"></div>
                        </a>

                        <div class="description">
                            <p><span style="font-weight: bold;">Description: </span>
                                <a href="https://github.com/npgeorgiou/crawler_to_AWS" target="_blank">Globejob</a>
                                is project that gathers all the english-speaking job ads in Denmark.
                                A useful tool for those who do not speak Danish.</p>
                        </div>
                        <div class="nerdy-info">
                            <p><span style="font-weight: bold;">Nerdy info: </span>My first big pet project. The jobs
                                are taken
                                by web crawlers written in Java, and persisted in an AWS database.
                                The web server is a written-from-scratch Node server, while the client
                                runs on Angular (html generated on run-time at client).
                                This is a really distributed project, whose components run on 3 different cloud
                                platforms.</p>
                        </div>
                        <div class="tecks">
                            <p><span style="font-weight: bold;">Technologies used: </span>Node, Angular, Javascript,
                                ajax, JSON,
                                Java, JPA,
                                mySQL</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="projectPresentation">
                        <h3>Budget</h3>

                        <a href="https://github.com/npgeorgiou/budget" target="_blank">
                            <div class="budget-image-container"></div>
                        </a>

                        <div class="description">
                            <p><span style="font-weight: bold;">Description: </span>
                                <a href="https://github.com/npgeorgiou/budget" target="_blank">Budget</a>
                                is project that lets you examine and present bank account transactions.</p>
                        </div>
                        <div class="nerdy-info">
                            <p><span style="font-weight: bold;">Nerdy info: </span>My first Ruby project. I wanted to
                                learn Ruby, and experiment with the idea of
                                clients of different nature hooking up to the same server. The project has 2 clients, a
                                webpage and a console app.
                                They collect user input any way their nature allows, format it to the standard that the
                                Backend expects,
                                and present the output in the way that makes sense to their nature.</p>
                        </div>
                        <div class="tecks">
                            <p><span style="font-weight: bold;">Technologies used: </span>Angular, ajax, Ruby</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="projectPresentation">
                        <h3>FastRent</h3>

                        <a href="https://fastrent.herokuapp.com" target="_blank">
                            <div class="fastrent-image-container"></div>
                        </a>

                        <div class="description">
                            <p><span style="font-weight: bold;">Description: </span>
                                Who doesn't love crawlers?
                                <a href="https://fastrent.herokuapp.com/" target="_blank">FastRent</a>
                                is currently under development, and fetches all the latest housing ads in Denmark.</p>
                        </div>
                        <div class="nerdy-info">
                            <p><span style="font-weight: bold;">Nerdy info: </span>My first large Ruby project. I wanted to avoid the Rails overhead,
                                so I decided to build the app from scratch:
                                Puma for the server, sinatra for endpoints, pg(postgres) and active record for database communication and ORM.
                                Apart from that, the system includes processes for crawling the web and populating the database, for cleaning up expired ads, and for sending emails at scheduled intervals.
                                In the close future, it will also have a whole bunch of other integrations with external services, such as SMS and online payment.</p>
                        </div>
                        <div class="tecks">
                            <p><span style="font-weight: bold;">Technologies used: </span>Angular, Ruby, Postgres, Heroku</p>
                        </div>
                    </div>
                </li>
            </ul>

        </section>
        <section id="employment" class="employment">

            <h2>Employment</h2>

            <section>
                <h3 class="employment-role">Backend PHP Developer at Linkfire</h3>

                <ul class="employment-details">
                    <li class="employment-location">Copenhagen</li>
                    <li class="employment-dates">May 2016 - Present</li>
                </ul>

                <ul class="employment-tags">
                    <li>Laravel</li>
                    <li>Rapid prototyping</li>
                </ul>

                <p class="employment-description">At Linkfire I am a member of a team doing rapid prototyping for our fast-growing company.
                On top of that I maintain and develop a couple of legacy systems until our new stack replaces them, so in a typical day there is a lot of task-switching.
                <ul class="education-modules">
                    <li>Developing and maintaining internal dashboards / creating reporting automations</li>
                    <li>Prototyping new project ideas</li>
                    <li>Moving projects from MVC to SPA client-server arcitecture</li>
                </ul>
            </section>

            <section>
                <h3 class="employment-role">Backend PHP Developer at Colego</h3>

                <ul class="employment-details">
                    <li class="employment-location">Copenhagen</li>
                    <li class="employment-dates">Feb 2015 - May 2016</li>
                </ul>

                <ul class="employment-tags">
                    <li>Development</li>
                    <li>Linux</li>
                    <li>Database optimization</li>
                    <li>Integrations</li>
                </ul>

                <p class="employment-description">My first job as a Developer, and an eye-opening experience to the
                    world of professional software development.
                    Definitely one of the most productive and educating periods of my life.
                    As a member of a team whose goal is to replace an outdated legacy system with a modern, stable, and
                    scalable solution, my tasks include:
                <ul class="education-modules">
                    <li>Researching different solutions to be added in our technology stack (database, memory cache)
                    </li>
                    <li>Designing user flows and developing backend functionality for them</li>
                    <li>Integrating with external services (emails, sms, payment, etch)</li>
                    <li>Integrating with frontend</li>
                    <li>Creating internal monitoring tools</li>
                    <li>Full-fledged Git usage</li>
                </ul>
            </section>

            <!--<section>-->
                <!--<h3 class="employment-role">Receptionist at Adina Apartment Hotel</h3>-->

                <!--<ul class="employment-details">-->
                    <!--<li class="employment-location">Copenhagen</li>-->
                    <!--<li class="employment-dates">Jul 2013 - Feb 2015</li>-->
                <!--</ul>-->

                <!--<ul class="employment-tags">-->
                    <!--<li>Front desk role</li>-->
                    <!--<li>Administrative support</li>-->
                    <!--<li>Handling cash and banking</li>-->
                <!--</ul>-->

                <!--<p class="employment-description">Working as part of a small team of receptionists in a busy hotel, my-->
                    <!--role-->
                    <!--consisted of maintaining everything in a smooth working order.-->
                    <!--This included organising conference meetings, handling guest requests, keeping good track of files-->
                    <!--and-->
                    <!--archives, and being ready to deal with unexpected problems.</p>-->
            <!--</section>-->

            <!--<section>-->
                <!--<h3 class="employment-role">Market Analyst/Business Developer for Bownty</h3>-->

                <!--<ul class="employment-details">-->
                    <!--<li class="employment-location">Copenhagen</li>-->
                    <!--<li class="employment-dates">Dec 2011 - Jun 2012</li>-->
                <!--</ul>-->

                <!--<ul class="employment-tags">-->
                    <!--<li>Market Research</li>-->
                    <!--<li>Affiliate Marketing</li>-->
                    <!--<li>Negotiations</li>-->
                    <!--<li>Data Analysis</li>-->
                    <!--<li>Project Management</li>-->
                <!--</ul>-->

                <!--<p class="employment-description">Bownty is a danish company operating in the daily deal sector.-->
                    <!--My role there was to research the possibility of expanding in Greece, and setting up the-->
                    <!--infrastructure and-->
                    <!--agreements.-->
                    <!--I run a 6-month project with minimal guidance, gathering data, doing a market analysis, defining a-->
                    <!--strategy-->
                    <!--and-->
                    <!--locating, contacting, and negotiating with possible partners.</p>-->
            <!--</section>-->

            <!--<section>-->
                <!--<h3 class="employment-role">Market Researcher and Interviewer for Lindberg International</h3>-->

                <!--<ul class="employment-details">-->
                    <!--<li class="employment-location">Aarhus</li>-->
                    <!--<li class="employment-dates">Jan 2011 - Sep 2011</li>-->
                <!--</ul>-->

                <!--<ul class="employment-tags">-->
                    <!--<li>B2B role</li>-->
                    <!--<li>Data collection</li>-->
                    <!--<li>Phone manners</li>-->
                <!--</ul>-->

                <!--<p class="employment-description">My role consisted of collecting data by phone interviews. We had many-->
                    <!--interesting-->
                    <!--projects commissioned by big danish companies, which was putting me in a position of talking daily-->
                    <!--with-->
                    <!--managers of-->
                    <!--various sectors from around the world. I also had the responsibility of organising my own schedule-->
                    <!--and-->
                    <!--work-time.</p>-->
            <!--</section>-->

            <!--<section>-->
                <!--<h3 class="employment-role">HR Assistant for Starbucks</h3>-->

                <!--<ul class="employment-details">-->
                    <!--<li class="employment-location">Athens</li>-->
                    <!--<li class="employment-dates">Sep 2009 - Jan 2010</li>-->
                <!--</ul>-->

                <!--<ul class="employment-tags">-->
                    <!--<li>DB management</li>-->
                    <!--<li>Archiving</li>-->
                    <!--<li>Recruitment</li>-->
                    <!--<li>Multitasking</li>-->
                <!--</ul>-->

                <!--<p class="employment-description">At the end of my first Bachelor degree, I did this internship.-->
                    <!--It was a great experience, with a lot of responsibility and varied tasks. My role was that of-->
                    <!--the assistant of the HR Manager, and my tasks included CV screening and handling, schedule planning,-->
                    <!--and being the contact point for the department for internal and external customers.-->
                    <!--My biggest project was that of re-organizing both the electronic database and physical archive of-->
                    <!--the-->
                    <!--employees.</p>-->
            <!--</section>-->

        </section>
        <section id="education" class="education">
            <section>
                <h2>Education</h2>

                <h3>AP in Computer Science</h3>
                <ul class="employment-details">
                    <li class="employment-location">Copenhagen Business Academy</li>
                    <li class="employment-dates">2013 - 2015</li>
                </ul>

                <p>A truly hands-on program, where I learned to develop, maintain and renew IT systems.
                    There is a strong focus on producing products that are according to the customers specification, and
                    at
                    the same
                    time robust and technically solid.</p>

                <p>I really enjoyed taking this education. The parts I loved the most were:</p>

                <ul class="education-modules">
                    <li><strong>Variety of programming languages and tools. </strong>
                        We got trained for a work environment where we
                        are expected to learn new languages and tools quickly. This is why we did not stick to one
                        language,
                        but learn many (Java,
                        Javascript, C++, C#). One exciting thing is that we were also jumping into what is relevant in
                        the
                        tech workd currently, such as
                        <abbr title="Mongo, ExpresJS, Angular, NodeJS. An approach of using JS for both client and server, and noSQL DB.">MEAN</abbr>.
                    </li>
                    <li><strong>Client-Server Architecture </strong>and knowledge of Web protocols (HTTP, TCP, IP) which
                        helped me a
                        lot to create my own personal projects, that can be shared and used by others (See projects).
                    </li>
                    <li><strong>Practical experience. </strong>
                        There was a strong focus in personal research, fast learning and practice, and in
                        actually designing and building solutions for problems. It made me feel confident to jump in any
                        project. I do not
                        know everything, but I have learned how to look for the answers.
                    </li>
                    <li><strong>Teamwork </strong>was a very important aspect. Almost all projects were team projects,
                        and
                        everything happened
                        through discussion and agreement. Designing, dividing work, and even coding - via Github.
                    </li>
                </ul>
            </section>

            <section>
                <h3>M.Sc. In Economics & Business Administration</h3>
                <ul class="employment-details">
                    <li class="employment-location">Aarhus School of Business</li>
                    <li class="employment-dates">2009 - 2011</li>
                </ul>

                <p>A truly international program, offering solid business understanding of the challenges and
                    opportunities
                    of
                    globalised business on all aspects of the organisation (economics, organisation and management , HR,
                    procurement).</p>

                <ul class="education-modules">
                    <li><strong>Group work </strong> and ability to work effectively together with people in an
                        international
                        environment.
                    </li>
                    <li><strong>Understanding </strong>the challenges of globalization and ways to handle them.
                    </li>
                    <li><strong>Statistical analysis </strong>and use of specialized tools for large dataset modelling.
                    </li>
                </ul>
            </section>

            <section>
                <h3>Bachelor Degree in Management and Technology</h3>
                <ul class="employment-details">
                    <li class="employment-location">Athens University</li>
                    <li class="employment-dates">2005 - 2009</li>
                </ul>

                <p>A program focused on providing education on all aspects of modern organizations: Econometrics,
                    Management,
                    Procurement, IT, HR & Strategy, Sales & Marketing.</p>

                <p>What I aquired from it, in a nutshell:</p>
                <ul class="education-modules">
                    <li><strong>All round Business understanding </strong>of every part of an organisation.
                    </li>
                    <li><strong>Introduction to programming </strong>and architecture of IT solutions for businesses.
                    </li>
                    <li><strong>Specialization in HR </strong> and the IT systems that support it.
                    </li>
                </ul>
            </section>
        </section>

        <section id="contact" class="contact">
            <h2>Contact</h2>

            <p>If you like what you see and want to get in touch, you can contact me via any of the social networks
                listed
                below, or call me at 52443237,
                <a href="mailto:npgeorgiou@yahoo.gr">or you can email me</a>.</p>

            <div class="social-links">
                <ul>
                    <li><a href="https://www.linkedin.com/pub/nikos-papageorgiou/7/443/325" class="linkedin"
                           title="me on LinkedIn">me
                        on Facebook</a></li>
                    <li><a href="https://www.facebook.com/nikos.papageorgiou.39" class="facebook"
                           title="me on Facebook">me
                        on Facebook</a></li>
                    <li><a href="http://stackoverflow.com/users/4277871/nikos-papageorgiou" class="stack-overflow"
                           title="me on Stack Overflow">me on Stack Overflow</a></li>
                    <li><a href="https://github.com/npgeorgiou" class="github" title="me on GitHub">me on
                        GitHub</a></li>
                </ul>
            </div>
            <!-- .social-links -->

        </section>
        <footer class="footer" role="contentinfo">
            <p>Site content Copyright &copy; 2017 Nikos Papageorgiou.
                <a href="https://github.com/npgeorgiou/MyNameIsNikos">View source on Github</a>.</p>
        </footer>
        <!-- #footer -->
    </article>
    <!-- .main -->

</div>
<!-- .wrap -->


<script src="//code.jquery.com/jquery-1.10.0.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.0-04c9d49c.js"><\/script>')</script>
<!--[if (gte IE 6)&(lte IE 8)]>
<script src="/js/vendor/selectivizr-1.0.2-a876a145.js" type="text/javascript"></script>
<![endif]-->
<script src="/js/main.js" type="text/javascript"></script>

</body>
</html>
